<div ng-repeat="arr in allItems">
  <div ng-repeat="x in arr">
            
            <div class="col-md-4">
              <div class="card h-100">
                <a ng-click="detailsRedirect(arr,$index)"><img class="card-img-top" src="{{x.image}}" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a>{{x.name}}</a>
                  </h4>
                  <h5>{{x.price|currency:"₹"}}</h5>
                  <p class="card-text">{{x.description}}</p>
                  
                </div>

                <!--<div class="card-footer">-->
                  <!--<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>-->
                </div>
              </div>
            </div>
    </div>